DATABASE_URL=
NEXT_PUBLIC_APP_HOST=llamakit.shaileshk.xyz
NEXT_PUBLIC_ROOT_DOMAIN=llamapages.dev
VERCEL_PROJECT_PRODUCTION_URL=
VERCEL_API_TOKEN=
VERCEL_RECOMMENDED_CNAME=
VERCEL_PROJECT_ID=
VERCEL_TEAM_ID=
